* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-top: 1em;
}

.subtitle {
  margin: 1em 0 0;
}

.subtitle:first-child {
  margin: 0;
}

.example-group {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.code {
  padding: 0.5em 0;
  display: block;
  margin-top: 1.5em;
}
.subtitle + .code {
  margin-top: 0;
}

.example-container {
  background-color: black;

  width: 100%;
  padding: 1em;
  margin-top: 0.5em;
}

.cube {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: greenyellow;
}

.description {
  margin-top: 1em;
}
