.container {
  width: 500px;
  height: 800px;
  background-color: #181818;

  margin-inline: auto;
  margin-top: 3em;

  overflow: hidden;
  position: relative;
}

.box {
  width: 10px;
  height: 10px;

  position: absolute;

  transform-origin: center;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.box[data-number='1'] {
  background-color: blue;
}

.box[data-number='2'] {
  background-color: red;
}

.box[data-number='3'] {
  background-color: green;
}

.box[data-number='4'] {
  background-color: yellow;
}

.lamp {
  width: 6px;
  position: absolute;

  top: 0%;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(#12101b 90%, #ffd000);
}

.shank {
  width: 20px;
  height: 30px;
  background-color: white;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-7px, -40%);
}

.blob {
  width: 40px;
  height: 40px;
  background-color: #e0f194;
  border-radius: 50%;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-17px, 50%);
  opacity: 0.7;
}
