.main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #25232c;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
}

.link {
  color: whitesmoke;
  font-size: 30px;
  font-weight: 900;

  display: block;
  padding-inline: 10px;
}

.border {
  background-color: whitesmoke;
  height: 5px;
  width: 100%;
}
