* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #222;
  --color-light: #ddd;

  --color-dark-alpha: #22222280;

  --index-foreground: 1;
  --index-midground: auto;
  --index-background: -1;
}

body {
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: 'Inter', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--index-foreground);

  padding: 1em;
  background-color: var(--color-dark-alpha);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.link {
  color: var(--color-light);
}

.wrapper {
  overflow-x: hidden;
}

.pages {
  display: flex;
  flex-wrap: nowrap;

  width: 300%;
  height: 100vh;
}

.section {
  width: 100%;
  height: 100vh;
}

.section-container {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  margin-right: 2em;
}

.section_about {
  background-image: linear-gradient(90deg, rgb(25, 25, 156), rgb(87, 62, 199));
}

.section_projects {
  background-image: linear-gradient(90deg, rgb(11, 110, 24), rgb(116, 185, 37));
}

.section_contacts {
  background-image: linear-gradient(90deg, rgb(194, 15, 39), rgb(224, 29, 104));
}

.content {
  width: 80%;
}

.title {
  font-size: 1.5rem;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}
