<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap"
      rel="stylesheet"
    />

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
    ></script>

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>

    <script defer src="./main.js"></script>
    <!-- <link rel="stylesheet" href="../../style.css" /> -->
    <link rel="stylesheet" href="./style.css" />

    <title>Vertical scroll example</title>
  </head>
  <body>
    <header>
      <h1>Vertical scroll</h1>
    </header>
    <main>
      <ul class="content">
        <li>
          <section class="card">
            <h2>Section title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              voluptates vitae similique. Nesciunt laboriosam velit temporibus
              recusandae odio ab quod, ut corrupti? Doloremque magni commodi
              quibusdam voluptates blanditiis numquam quod!
            </p>
          </section>
        </li>
        <li>
          <section class="card">
            <h2>Section title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              voluptates vitae similique. Nesciunt laboriosam velit temporibus
              recusandae odio ab quod, ut corrupti? Doloremque magni commodi
              quibusdam voluptates blanditiis numquam quod!
            </p>
          </section>
        </li>
        <li>
          <section class="card">
            <h2>Section title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              voluptates vitae similique. Nesciunt laboriosam velit temporibus
              recusandae odio ab quod, ut corrupti? Doloremque magni commodi
              quibusdam voluptates blanditiis numquam quod!
            </p>
          </section>
        </li>
        <li>
          <section class="card">
            <h2>Section title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              voluptates vitae similique. Nesciunt laboriosam velit temporibus
              recusandae odio ab quod, ut corrupti? Doloremque magni commodi
              quibusdam voluptates blanditiis numquam quod!
            </p>
          </section>
        </li>
        <li>
          <section class="card">
            <h2>Section title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              voluptates vitae similique. Nesciunt laboriosam velit temporibus
              recusandae odio ab quod, ut corrupti? Doloremque magni commodi
              quibusdam voluptates blanditiis numquam quod!
            </p>
          </section>
        </li>
      </ul>
    </main>
    <footer>
      <p>footer here</p>
    </footer>
  </body>
</html>
