.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  --stripe-width: 60px;
  --stripe-height: 400px;

  --stripes-count: 3;
  --pencil-width: calc(var(--stripe-width) * var(--stripes-count));
}

.container {
  background-color: aquamarine;
  width: 600px;
  height: 600px;
}

.base {
  position: relative;
  width: var(--pencil-width);
  height: var(--stripe-height);
  overflow: hidden;
}

.stripe {
  position: absolute;
  left: calc(var(--stripe-width) * -1);
  top: 0;
  width: var(--stripe-width);
  height: var(--stripe-height);
  flex-shrink: 0;
}

.stripe::after {
  content: '';
  display: block;
  width: var(--stripe-width);
  height: var(--stripe-width);
  background-color: beige;
  border-radius: 50%;

  position: absolute;
  bottom: calc(var(--stripe-width) / 2 * -1);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.tip {
  position: relative;
  width: var(--pencil-width);
  height: var(--pencil-width);

  border-left: calc(var(--pencil-width) / 2) solid transparent;
  border-right: calc(var(--pencil-width) / 2) solid transparent;

  border-top: var(--pencil-width) solid beige;
}

.black {
  --width: calc(var(--stripe-width) / 3);
  position: absolute;
  bottom: 0px;
  left: 50%;

  transform: translateX(-50%);
  width: var(--width);
  height: var(--width);

  background-color: black;
}
